@use "variables" as *;

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.skill-badge {
    background: $renk-f4;
    border-radius: 16px;
    padding: 2px 12px;
    margin: 0 10px 10px 0;
    font-weight: 600;
}

.skill-badge:hover {
    animation: jello; animation-duration: 1s;
}

.outline {
    outline: 1px solid rgba($renk-outline, 0.3);
}

.td-button {
    margin: 3px 2px;
}

.html, .css, .sass, .jquery, .bootstrap, .figma, .photoshop {
    color: $renk-beyaz;
}

.html {
    background: $renk-html;
}

.css {
    background: $renk-css;
}

.sass {
    background: $renk-sass;
}

.react {
    background: $renk-react;
}

.js {
    background: $renk-js;
}

.jquery {
    background: $renk-jquery;
}

.bootstrap {
    background: $renk-bootstrap;
}

.figma {
    background: $renk-figma;
}

.photoshop {
    background: $renk-photoshop;
}

.social-badge {
    background: $renk-f4;
    border-radius: 50%;
    padding: 9px 12px;
    margin: 0 10px 10px 0;
    font-weight: 600;
    text-align: center;
}

.social-badge:hover {
    animation: jello; animation-duration: 1s;
}

.linkedin:hover {
    color: $renk-linkedin;
}

.twitter:hover {
    color: $renk-twitter;
}

.gmail:hover, .blog:hover {
    color: $renk-gmail;
}