@use "variables" as *;
@use "typography" as *;

body {
    display: flex;
    justify-content: center;
    font-family: $font;
    color: $renk-siyah-8;
    padding-right: 50px;
}

.profile-pic {
    max-width: 700px;
    animation: fadeInLeft; animation-duration: 1s;
}

img {
    width: 100%;
}

.cv {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    height: 100%;
    padding-top: 100px;
}

.introduce {
    width: 100%;

    p {
        @include paragraf;
    }
}

.mark {
    background: $renk-mark;
    padding: 0 3px;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 40px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.social {
    width: 50px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* position: absolute;
    top: 350px;
    right: 0; */
}

/* .dikey {
    transform: rotate(-90deg);
    color: #bbb;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.dikey:hover {
    color: #ef652a;
} */