@use "variables" as *;
@use "typography" as *;

.portfolio-page {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 20px;
}

table {
    width: 100%;
}

.column-work, .column-tech {
    width: 44%;
}

.column-view {
    width: 12%;
}

tr, td {
    display: flex;
}

thead tr {
    border-bottom: 3px solid rgba($renk-html, 0.7);
}

tr {
    border-bottom: 1px solid $renk-cizgi;
    &:hover:not(thead tr) {
        background: rgba($renk-f4, 0.8);
        .outline {
            outline: 1px solid $renk-outline;
        }
    }
}

td {
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav {
    background: $renk-f4;
    margin-bottom: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 12px 20px;
    a, a:visited {
        color: $renk-html;
        &:hover {
            color: $renk-gmail;
        }
    }
}

.long-text {
    margin-left: 4px;
}