/* Responsive özellikler */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        margin: 0 30px;
        padding-right: 0;
        height: auto;
    }
    .profile-pic {
        width: 300px;
        height: auto;
    }
    .introduce {
        margin-top: 20px;
    }
    .cv {
        width: 100%;
        height: auto;
        padding-top: 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .skills, .portfolio, .social {
        margin-bottom: 10px;
    }
}