// Renkler
$renk-beyaz: #ffffff;
$renk-siyah-8: rgba(0, 0, 0, 0.8);
$renk-f4: #f4f4f4;
$renk-mark: rgba(247,224,24, 0.3);
$renk-html: #ef652a;
$renk-css: #214ce5;
$renk-sass: #cc6699;
$renk-js: #f7e018;
$renk-bootstrap: #563d7c;
$renk-linkedin: #0274b3;
$renk-twitter: #1ca1f1;
$renk-gmail: #eb4132;
$renk-jquery: #0769ad;
$renk-react: #61dbfb;
$renk-figma: #f24e1e;
$renk-photoshop: #1175c3;

// Font
$font: Quicksand, sans-serif;