@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-animation: bounceInDown;
          animation: bounceInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: inherit;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ef652a;
}

.name {
  font-size: inherit;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ef652a;
}

body {
  display: flex;
  justify-content: center;
  font-family: Quicksand, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  padding-right: 50px;
}

.profile-pic {
  max-width: 700px;
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

img {
  width: 100%;
}

.cv {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 100%;
  padding-top: 100px;
}

.introduce {
  width: 100%;
}
.introduce p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: justify;
}

.mark {
  background: rgba(247, 224, 24, 0.3);
  padding: 0 3px;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 40px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}

.social {
  width: 50px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* position: absolute;
  top: 350px;
  right: 0; */
}

/* .dikey {
    transform: rotate(-90deg);
    color: #bbb;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.dikey:hover {
    color: #ef652a;
} */
h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-animation: bounceInDown;
          animation: bounceInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: inherit;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ef652a;
}

.name {
  font-size: inherit;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ef652a;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.skill-badge {
  background: #f4f4f4;
  border-radius: 16px;
  padding: 2px 12px;
  margin: 0 10px 10px 0;
  font-weight: 600;
}

.skill-badge:hover {
  -webkit-animation: jello;
          animation: jello;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.outline {
  outline: 1px solid rgba(128, 128, 128, 0.3);
}

.td-button {
  margin: 3px 2px;
}

.html, .css, .sass, .jquery, .bootstrap, .figma, .photoshop {
  color: #ffffff;
}

.html {
  background: #ef652a;
}

.css {
  background: #214ce5;
}

.sass {
  background: #cc6699;
}

.react {
  background: #61dbfb;
}

.js {
  background: #f7e018;
}

.jquery {
  background: #0769ad;
}

.bootstrap {
  background: #563d7c;
}

.figma {
  background: #f24e1e;
}

.photoshop {
  background: #1175c3;
}

.social-badge {
  background: #f4f4f4;
  border-radius: 50%;
  padding: 9px 12px;
  margin: 0 10px 10px 0;
  font-weight: 600;
  text-align: center;
}

.social-badge:hover {
  -webkit-animation: jello;
          animation: jello;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.linkedin:hover {
  color: #0274b3;
}

.twitter:hover {
  color: #1ca1f1;
}

.gmail:hover, .blog:hover {
  color: #eb4132;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-animation: bounceInDown;
          animation: bounceInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: inherit;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ef652a;
}

.name {
  font-size: inherit;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ef652a;
}

.portfolio-page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

table {
  width: 100%;
}

.column-work, .column-tech {
  width: 44%;
}

.column-view {
  width: 12%;
}

tr, td {
  display: flex;
}

thead tr {
  border-bottom: 3px solid rgba(239, 101, 42, 0.7);
}

tr {
  border-bottom: 1px solid #e6e6e6;
}
tr:hover:not(thead tr) {
  background: rgba(244, 244, 244, 0.8);
}
tr:hover:not(thead tr) .outline {
  outline: 1px solid #808080;
  border-radius: 16px;
}

td {
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

nav {
  background: #f4f4f4;
  margin-bottom: 30px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 12px 20px;
}
nav a, nav a:visited {
  color: #ef652a;
}
nav a:hover, nav a:visited:hover {
  color: #eb4132;
}

.long-text {
  margin-left: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    padding-right: 0;
    height: auto;
  }

  .profile-pic {
    width: 300px;
    height: auto;
  }

  .introduce {
    margin-top: 20px;
  }

  .cv {
    width: 100%;
    height: auto;
    padding-top: 0;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .skills, .portfolio, .social {
    margin-bottom: 10px;
  }

  .portfolio-page {
    display: flex;
    flex-direction: column;
  }

  .long-text {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */